name: {{ inventory_hostname }}

data-dir: {{ etcd_runtime_data_dir }}

client-transport-security:
    cert-file: {{ pki_runtime_public_dir }}/etcd-{{ pki_runtime_chain_crt_name }}.crt
    key-file: {{ pki_runtime_private_dir }}/etcd.key
    client-cert-auth: true
    trusted-ca-file: {{ pki_runtime_target_dir }}/{{ pki_runtime_root_crt_name }}.crt
peer-transport-security:
    cert-file: {{ pki_runtime_public_dir }}/etcd-{{ pki_runtime_chain_crt_name }}.crt
    key-file: {{ pki_runtime_private_dir }}/etcd.key
    client-cert-auth: true
    trusted-ca-file: {{ pki_runtime_target_dir }}/{{ pki_runtime_root_crt_name }}.crt

initial-advertise-peer-urls: https://{{ private_ip }}:{{ ports.etcd_peer }}
listen-peer-urls: https://{{ private_ip }}:{{ ports.etcd_peer }}
listen-client-urls: https://{{ private_ip }}:{{ ports.etcd_client }}
advertise-client-urls: https://{{ private_ip }}:{{ ports.etcd_client }}

initial-cluster-state: "new"
initial-cluster-token: "nordar-etcd-cluster-0"
initial-cluster: "{% for host in groups["database"] | sort %}{{host}}=https://{{ hostvars[host].private_ip }}:{{ ports.etcd_peer }}{% if not loop.last%},{% endif %}{% endfor %}"
