[Unit]
Description=etcd
After=network-online.target
Wants=network-online.target

[Service]
User=etcd
Group=etcd
ExecStart=/usr/local/bin/etcd --config-file={{ etcd_config_dir }}config.yaml

[Install]
WantedBy=multi-user.target