.title {
	color: var(--landing-color-primary);
	font-family: var(--landing-font-primary);
	font-size: clamp(44px, 7vw, 92px);
	line-height: 1;
	margin-bottom: 24px;
}

.description {
	color: var(--landing-color-secondary);
	font-size: 20px;
	max-width: 540px;
	margin: 0 auto 38px;
}
