.type {
	color: var(--explanation-color);
	font-family: var(--landing-font-secondary);
	font-weight: 600;
	letter-spacing: 0.1em;
	text-transform: uppercase;
}

.description {
	color: var(--landing-color-tertiary);
}
