.hero {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.eyebrow {
	color: gray;
	font-size: 13px;

	text-transform: uppercase;
}

.title {
	font-size: clamp(52px, 8.4vw, 112px);
	font-family: Space Grotesk;
	line-height: 1;
	margin: 0 auto 26px;
}

.description {
	color: gray;
	font-size: 18px;
	max-width: 600px;
	margin: 0 auto 40px;
}

.heroCTA {
	display: flex;
	gap: 5px;
}
