.title {
	font-family: var(--landing-font-primary);
	font-size: clamp(38px, 5.2vw, 64px);
	line-height: 1;
	margin: 0;
}

.description {
	color: var(--landing-color-secondary);
	font-family: var(--landing-font-secondary);
	font-size: 20px;
	max-width: 550px;
}

.reference {
	position: relative;
}

.svgOverlay {
	width: 100%;
	height: 100%;
	position: absolute;
	inset: 0;
	pointer-events: none;
}

.bearing {
	transition: opacity 0.25s, transform 0.25s;
}

.bearing:hover {
	transform: translateY(-2px);
}

.bearingActive {
	opacity: 1;
	transform: scale(1.02);
}

.bearingInactive {
	opacity: 0.4;
}

.movement {
	animation: enter 0.3s ease both;
}

@keyframes enter {
	from {
		opacity: 0;
		transform: translateX(-10px);
	}
	to {
		opacity: 1;
		transform: translateX(0px);
	}
}