.title {
	font-family: var(--landing-font-primary);
	font-size: clamp(38px, 5.2vw, 64px);
	line-height: 1;
	margin: 0;
}

.description {
	color: var(--landing-color-secondary);
	font-family: var(--landing-font-secondary);
	font-size: 20px;
	max-width: 550px;
}
